link(rel="stylesheet" href="/client/app/users/main/user.main.css")
br
div.hcenter
  button.btn.btn-success(ui-sref="user create") Place An Order
br
form
  table(border="5", style="width:100%")
    thead
      tr
        th.hcenter 
          h4: b Date of Delivery
        th.hcenter 
          h4: b Container Type
        th.hcenter
          h4: b Quantity
        th.hcenter
          h4: b Status
        th.hcenter
          h4: b Price
        th.hcenter
          h4: b Total
    tbody
      tr(ng-repeat="o in vm.orders").hcenter
        td: b {{ o.date | date : 'shortDate'}}
        td: b {{ o.containerType }}
        td: b {{ o.quantity }}
        td: b {{ o.status }}
        td: b '2'
        td: b '3'
